.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.profile-page button {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile-page button:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.profile-page p {
    margin-bottom: 10px;
    color: var(--text-color);
}

