header {
    width: 100%;
    height: auto;
    padding-bottom: 8px;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

header a:hover {
    color: var(--secondary-color);
}

header a.active {
    text-decoration: underline;
}

header .theme-button {
    color: var(--text-color);
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

header .theme-button:hover {
    background-color: var(--secondary-color);
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header .menu {
    display: flex;
    align-items: center;
}
