.badge-categorie {
    position: absolute;
    top: 2px;
    right: 2px;
    /* background-color: #007bff; */
    color: #fff;
    font-size: 12px;
    padding: 2px 4px !important;
    border-radius: 9999px;
}

.article-card {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    border: 1px solid var(--secondary-color-dark);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.article-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-card-title {
    font-size: 1.5em;
    color: var(--primary-color-dark);
}

.article-card-content {
    font-size: 1em;
    color: var(--secondary-color-dark);
}